<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dragon4.owo.resight_android">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:name=".util.TypeKitSetting"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Activity.BluetoothSearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".view.Activity.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.Activity.ReSightMainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".service.OnTopActivityService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".view.Activity.CustomizeDialogActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".view.Activity.TutorialActivity1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.Activity.TutorialActivity2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.Activity.HandMotionSelectActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
    </application>

</manifest>